<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
<div class="list card">
  <div class="item item-text-wrap">
    WatInfoSession is made in Ionic Framework by Yu Chen Hou, using information publicly provided by the University of Waterloo. For help and support please contact me via my website.
  </div>
  <a ng-click="$parent.open('http://yuchenhou.com',true);" class="item item-icon-left">
    <i class="icon ion-earth"></i>
    My Website
  </a>

</div>
  </ion-content>
</ion-view>
