<ion-view title="{{title}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>

    <div ng-repeat="(key, values) in events |isPast:isPastFilteringEnabled| groupBy: 'details.datetime'">
        <div ng-show="values[0].visible" class="item item-divider">
            {{ values[0].details.date }}
        </div>
        <a class="item" ng-show="item.visible" ng-repeat="item in values" href="#/app/events/{{item.id}}">
            <h2>{{item.company}} </h2>
            <p>{{item.details.date}} {{item.details.time}}</p>
        </a>
    </div>
    <div class="item item-icon-left" ng-click="nextMonth()" ng-show="loaded">
        <i class="icon ion-plus-round"></i>Load next month
    </div>
    <div class="item item-icon-left" ng-hide="loaded">
        <i class="icon ion-refreshing"></i>Loading
    </div>
    </ion-list>
  </ion-content>
</ion-view>
